*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	position: relative;
	z-index: 1;
}

body{
	/*background-color: lightgray;*/
	font-family: ubuntu;
}

#body{
	width: 100%;
	height: auto;
	background-color: white;
	margin-bottom: 300px;
}

.main{
	width:100%;
	height: 2000px;
}

/*HEADER SECTION*/



.header{
	position: relative;
	background: url("../img/background.jpg");
	background-attachment: fixed;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
	width: 100%;
	overflow: hidden;
	
	

}

.logo{
	height: 152px;
	width: 100%;
	background: url("../img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 558px 152px;
	position: absolute;
	top: 50%;
	margin-top: -76px;
	z-index: 99;
}

.foreground{
	background: url("../img/buildings.png");
	width: 110%;
	height:220px;
	background-repeat: no-repeat;
	background-size:100%;
	position: absolute;
	bottom: -30px;
	
}





/*HEADER SECTION END*/

.content{
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

.content h1{
	color: gray;
	margin-top: 30px;
}

.content hr{
	width: 50%;
	color: darkgray;
	margin: 30px auto;
}

.content p{
	width: 50%;
	margin: 0 auto;
}

/*GRID SECTION*/
.grid{
	margin-left: 25px;
}
.row{
	width: 54.5%;
	margin:0 auto;
	position: relative;	
	

	
}
.column{
	width: 29%;
	height: 270px;
	margin: 10px;
	display: inline-block;
	opacity: 0;
	transform:translateX(80px);
	transition:all 1s ease-in-out;	
	overflow: hidden;
	
}

.row p{
	background-color: #4DB6AC;
	color: white;
	position: relative;
	bottom: 50px;
	left: -220px;
	padding: 10px 10px;
	transition: all 0.2s ease-in-out;

}	
	


.column:hover p{
	left: 0%;
}

.column img{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	transform:scale(1);
	transition: all 0.3s ease-in-out;
}
.column:hover img{
	transform:scale(1.2);	
}

.is_showing{
	opacity: 1;
	transform:translateX(0px);
	overflow: hidden;
}

/*GRID SECTION END*/



.tunel{
	width: 600px;
	height: 600px;
	background: url('../img/superman.jpg');
	background-attachment: fixed;
	background-size: 50%;
	background-position: center;
	background-repeat: repeat-y;
	border-radius: 50%;
	margin: 100 auto;
	text-align: center;
	position: relative;
	overflow: hidden;
	
		
}

.back{	
	
	opacity: .5;
	background: black;
	color:white;
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 50%;
	justify-content:center;
	align-items: center;
	flex-direction:column;
	
	
	
}
.back span{
	border: 1px solid white;	
	padding: 8px 20px;
	transition: all 0.3s ease-in;
}

.back span:hover{
	background-color: white;
	color:black;
}


.back p{
	margin: 30px;
	font-style: italic;
	font-size: 26px;
}





/*card section*/
.card{
	display: flex;
	width: 660px;
	margin: 70px auto;
	position: relative;
	flex-direction:row;

}
.card img{
	margin: 10px 0;
}

.card p{
	margin-bottom: 20px;
}
.card1,.card3,.card2{
	border: 1px solid gray;
	width: 210px;
	padding: 25px 20px;
	text-align: center;
	background-color: white;
		
}
.card2{
	margin:10px 15px;	
}


.card span{
	
	color: gray;
	border:1px solid gray;
	padding: 8px 25px;
	border-radius: 6px;
}
.card span:hover{
	border:1px solid black;
}

.card1{
	transform:translate(100px,20px);
}

.card3{
	transform:translate(-100px,20px);
}
.card2{
	z-index: 2;
}
/*end card section*/

/* FOOTER SECTION*/

.footer{
	width: 100%;
	height: 200px;
	background-color: black;
	color: white;
	position: fixed;
	z-index: 0;
	bottom: 0;

}

#foot{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0px;
	
}
#one{
	width: 20%;
	float: left;


}

#two{
	width:58%;
	float: left;
}
 #two input{
 	height: 40px;
 	border-radius: 5px;

 }


/* FOOTER SECTION* END/